.list-container {
  display: flex;
  flex-direction: column;

  .list-row {
    padding: 7px;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    &:nth-child(odd) {
      background: #f0f0f0;
    }

    &:hover {
      background: #72cdff;
    }

    &.list-row-header {
      background: #ddd;
      font-weight: bold;
    }

    .list-column {
      flex: 1;
    }

    .cash::before {
      content: '💰';
    }

    .debitcard::before {
      content: '💳';
    }

    .szepcard::before {
      content: 'SZÉP';
    }
  }
}



