.app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;

  .card {
    $margin: 6px;
    $border: 1px;
    flex: 0 0 calc(50% - 1.5*#{$margin} - 2*#{$border});
    margin: $margin 0 0 $margin;

    border-radius: 2px;
    border: #999 1px solid;

    &.card-wide {
      flex: 0 0 calc(100% - 2*#{$margin} - 2*#{$border});
    }
  }
}
